{%- css %}
.postmain { margin-bottom: 5em; }
.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) }} }
{% endcss %}

{% for post in postslist | reverse %}
    {% if loop.index == 1 %}
        <article class="postmain">
            <a href="{{ post.url }}" class="postlist-link"><h1>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h1></a>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
            {{ post.templateContent | safe }}
        </article>
    {% endif %}
{% endfor %}

<hr>

<h2>More Posts</h2>

<ol reversed class="postlist">
{% for post in postslist | reverse %}
    {% if loop.index != 1 %}
        <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
            <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
        </li>
    {% endif %}
{% endfor %}
</ol>
